<h3 class="text-center" style="margin-top: 10px;" *ngIf="loading!=null && loading == true ">
  Loading ..
</h3>
<div style="max-height: 400px">
  <h3 *ngIf="history.length == 0"> No Result Found! </h3>
  <ul>
    <li *ngFor="let item of history">
      <a href="javascript:void (0)" (click)="getImages(item._id)">{{item.keyword}}</a>
    </li>
  </ul>
</div>
<ng-container *ngIf="imageList">
  <h2>{{imageList.keyword}}</h2>
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-3" *ngFor="let item of imageList.images">
      <img [src]="imageUrl+item">
    </div>
  </div>
</ng-container>
