<div class="container">
  <div class="jumbotron">
    <h1>Google Image Scrapper</h1>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">Menu</span>
      </div>
      <ul class="nav navbar-nav">
        <li><a [class.active]="currentUrl === '/search'" routerLink="/search">Search</a></li>
        <li><a [class.active]="currentUrl === '/history'" routerLink="/history">History</a></li>
      </ul>
    </div>
  </nav>
  <div class="well">
    <router-outlet></router-outlet>
  </div>
</div>
