<form class="form-inline" [formGroup]="searchForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="search">Search:</label>
    <input formControlName="keyword" type="text" class="form-control" id="search">
  </div>
  <button type="submit" class="btn btn-default" [disabled]="!searchForm.valid">Submit</button>
</form>
<h3 class="text-center" style="margin-top: 10px;" *ngIf="loading!=null && loading == true ">
  Loading ..
</h3>
<div class="row" style="margin-top: 10px;">
  <div class="col-md-3" *ngFor="let item of imageList;let index = index">
    <img [src]="item" class="thumbnail">
  </div>
</div>
